<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">
<head>
    <title>차량 위치 추적</title>
    <link rel="stylesheet" th:href="@{/css/vehicle/track.css}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<th:block layout:fragment="content">
    <div class="track-container">
        <h1 th:text="'차량 위치 추적: ' + ${vehicle.vehicleModel}"></h1>
        <div id="map"></div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // 지도를 초기화하고 중심 위치와 줌 레벨을 설정합니다.
            var map = L.map('map').setView([36.5, 127.5], 7);

            // OpenStreetMap 타일 레이어를 추가합니다.
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; OpenStreetMap contributors'
            }).addTo(map);

            // 서버에서 가져온 GPS 데이터를 사용합니다.
            var gpsData = /*[[${gpsData}]]*/ [];

            // GPS 데이터마다 마커를 추가합니다.
            gpsData.forEach(function(data) {
                var marker = L.marker([data.latitude, data.longitude]).addTo(map);
                marker.bindPopup('<b>차량 위치</b><br>위도: ' + data.latitude + '<br>경도: ' + data.longitude + '<br>시간: ' + data.timestamp);
            });
        });
    </script>
</th:block>
</html>
